@import url("https://cdn.jsdelivr.net/gh/tedhinklater/finimalism@main/finimalism7.css");

/* Backdrop */
.backgroundContainer {
    background: url(https://i.imgur.com/gpe0jJc.jpeg) center top no-repeat #030322;
    -webkit-background-size: cover;
    background-size: cover;
	opacity: 0.5;
}

.itemsContainer.padded-left {
    position: top;
    z-index: 1;
}

.itemsContainer.padded-left::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(https://i.imgur.com/gpe0jJc.jpeg) center top no-repeat #030322;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    background-attachment: fixed;
}

.sectionTitleContainer.sectionTitleContainer-cards.padded-left::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(https://i.imgur.com/gpe0jJc.jpeg) center top no-repeat #030322;
	background-size: cover;
	opacity: 0.25;
	z-index: -1;
	background-attachment: fixed;
}

/*Apply bg to detail Ribbon */
.detailPagePrimaryContainer {
	position: relative;
	z-index: 2;
}

.detailPagePrimaryContainer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://i.imgur.com/gpe0jJc.jpeg) center top no-repeat #030322;
	background-size: cover;
	opacity: 0.8;
	z-index: -1;
}

/* Apply bg to detailPage content */
.detailPageSecondaryContainer {
	position: relative;
	z-index: 1;
}

.detailPageSecondaryContainer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://i.imgur.com/gpe0jJc.jpeg) center top no-repeat #030322;
	background-size: cover;
	opacity: 0.9;
	z-index: -1;
}

/*Glow accent on hover*/
.raised.homeLibraryButton {
	box-shadow: 0px 0px 5px rgb(255, 255, 255) !important;
	border: solid 1px rgba(var(--accent),0) !important;
}

.raised.homeLibraryButton:hover,.emby-tab-button:hover, .selectLabelFocused, .inputLabelFocused, .textareaLabelFocused, .buttonActive, .button-link {
	color: rgb(0, 0, 0) !important;
}

.button-flat:hover, .paper-icon-button-light:hover { 
	color: rgb(255, 255, 255) !important;
}

.cardOverlayContainer:hover, .dialog, .toast, .raised.homeLibraryButton:hover {
	box-shadow: 0px 0px 5px rgb(255, 255, 255);
	border: solid 1px rgba(var(--accent),0);
}

.innerCardFooter, .countIndicator, .playedIndicator {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.95) 100%);
	box-shadow: none;
	color: rgb(--accent);
}

/*Login background*/
#loginPage {
  background: url(https://i.imgur.com/gpe0jJc.jpeg) !important; 
  background-size: cover !important;
}

.layout-desktop .mainDetailButtons.focuscontainer-x {
  background: #0a0a0ad6;
}
