.itemBackdrop {
  display: inherit;
  height: 54em !important;
}

.layout-desktop .detailRibbon, .layout-tv .detailRibbon {
  height: 5em;
  margin-top: -5em;
}

.layout-desktop #itemDetailPage .itemExternalLinks,
.layout-tv #itemDetailPage .itemExternalLinks,
.layout-desktop .itemName.infoText.originalTitle,
.layout-desktop .itemName.infoText.parentNameLast,
.layout-desktop .parentName.musicParentName.focuscontainer-x,
.layout-desktop .itemDetailPage:has(.itemName.parentNameLast) #itemBackdrop, .layout-desktop .itemDetailPage:has(.button-flat.mediaInfoItem.emby-button) #itemBackdrop,
.layout-desktop .trackSelections,
.layout-tv .trackSelections {
  animation: none;
  opacity: 1;
}
