.emby-button.show-focus:focus {filter: none;}
.raised.homeLibraryButton {box-shadow: none !important;}
.raised.homeLibraryButton:hover {box-shadow: none !important;}
.listItem:hover {	box-shadow: none !important;}
.drawer-open { box-shadow: none !important;}
@supports (backdrop-filter: blur(0px)) {.dialog,.mainDrawer,.toast,.appfooter {	backdrop-filter: blur(0px);} .paper-icon-button-light:hover,	#itemDetailPage .itemProgressBar,	#dashboardPage .backgroundProgress > div {backdrop-filter: blur(0px);}}
.layout-desktop .card:hover {box-shadow: none !important;}
.layout-tv .card:focus {-webkit-filter: none !important;box-shadow: none !important;}
.layout-tv .homeLibraryButton:focus {filter: none !important;}
.layout-desktop .overflowBackdropCard,.layout-tv .overflowBackdropCard,.layout-desktop .overflowPortraitCard,.layout-tv .overflowPortraitCard,.layout-desktop .overflowSquareCard,.layout-tv .overflowSquareCard {filter: none !important;}
.cardOverlayButtonIcon, .cardOverlayButtonIcon.material-icons {filter: none !important;}
.skip-button:hover,.skip-button:focus {box-shadow: none !important;}
.layout-desktop div.itemMiscInfo.itemMiscInfo-primary,.layout-tv div.itemMiscInfo.itemMiscInfo-primary,.layout-desktop .itemName.originalTitle,.layout-tv .itemName.originalTitle {filter: none !important;}
.layout-desktop .itemName.infoText.subtitle.focuscontainer-x,.layout-tv .itemName.infoText.subtitle.focuscontainer-x {filter: none !important;}
.layout-tv .headerLeft {filter: none !important;}
.layout-desktop .headerRight,.layout-tv .headerRight {filter: none !important;}
.listItemImage:hover {box-shadow: none !important;}
.headerButton,.headerTabs.sectionTabs {-webkit-filter: none !important;filter: none !important;}
.infoContainer, .sliderContainer {-webkit-filter: none !important;filter: none !important;}
.layout-desktop .itemName.infoText.parentNameLast,.layout-desktop .itemName.infoText.subtitle,.layout-tv .itemName.infoText.subtitle,.layout-tv .itemName.infoText.parentNameLast {filter: none !important;}
.layout-desktop .pageTitleWithLogo,.layout-tv .pageTitleWithLogo {filter: none !important;}
.layout-tv .card.show-focus:focus .cardImageContainer,.layout-tv .listItem-focusscale:focus {box-shadow: none !important;}
.mainDrawer {background-color: #110e1ef5;}
.sections.homeSectionsContainer::before {	background: transparent !important;}
.pageTabContent.is-active::before {	background: #0c0515 !important; opacity: 1;}
.detailPagePrimaryContainer::before { background: #0c0515 !important; opacity: 1;}
.detailPageSecondaryContainer::before { background: #0c0515 !important; opacity: 1;}
